@import './params';

.content-slider {
    position: relative;
    width: 100%;
    // min-height: 350px;
    background-color: #000;
    margin: 10px 0;
    padding: 20px 0 10px 0;

    overflow: hidden;

    .dots {
        width: 100%;
        height: 30px;
        display: flex;
        // background-color: orange;
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
            width: 10px;
            height: 10px;
            background-color: #111;
            border-radius: 50%;

            &.active {
                background-color: $main-color;
            }
        }
    }

    .btns-slide {
        position: absolute;
        width: 100%;
        height: 50px;
        // border: solid 1px black;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        z-index: 100;

        button {
            height: 100%;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid 5px royalblue;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.695);
            box-shadow: none;
            font-weight: bold;
            font-size: 2em;
            color: #555;
        }
    }

    .contener-images {
        min-height: 320px;
        height: 100%;
        display: flex;
        margin-bottom: 20px;
        transition: .7s ease;

        .fragment {
            background-color: #060606;
            width: 10%;
            min-height: 320px;
            display: flex;
            align-items: center;

            div {
                width: 80%;
                height: 100%;
                background-color: #fff;
            }

            &.f1 {
                border-radius: 0 8px 8px 0;
                justify-content: flex-start;
            }

            &.f2 {
                border-radius: 8px 0 0 8px;
                justify-content: flex-end;
            }
        }

        &>* {
            width: 80%;
            height: 100%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
        }

        .content-items-slide {
            height: 100%;
            width: 100%;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
                width: 95%;
                height: 100%;
                border-radius: 8px;
                background: #111;
                padding: 10px;
                display: grid;
                grid-template-rows: 1fr minmax(1fr, 100px);
                gap: 20px;
                // background-color: orange;

                .image {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .text-items {

                    // padding: 6px;
                    p {
                        margin: 0;
                        padding: 0;
                    }

                    .titre-item {
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }

                .btns-items {
                    display: grid;
                    grid-template-columns: 1fr 1.3fr;
                    gap: 10px;
                    color: #fff;

                    .btn-cta {
                        display: flex;
                        justify-content: flex-end;

                        button {
                            width: 90%;
                            height: 50px;
                            border-radius: 10px;
                            border: none;
                            outline: none;
                            background-color: $main-color;
                            color: #fff;
                            box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.603);
                        }
                    }
                }
            }
        }
    }
}