@import './params';
.cont-titre-test{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    .titre-test{
        position: relative;
        color: $main-color;
        font-size: 2em;
        .quote-titre{
            position: absolute;
            opacity: .2;
            font-size: 3em;
            color: #555;
            &.c1{
                top: 0;
            left: 0;
            transform: translate(-40px,-50%) rotate(10deg);
            }
            &.c2{
                transform: translate(-10px,-20px) rotate(-160deg);
            }
        }
    }
}
.item-carousel{
    width: 100%;
    min-height: 300px;
    padding: 10px;
    .testiMonial{
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding-bottom: 50px;
        position: relative;
        // border-radius: 10px;
        box-shadow: 0 0 10px 3px hsla(0, 0%, 0%, 0.1);
        .design{
            position: absolute;
            right: 0;
            bottom: 0;
            width: 10px;
            height: 70px;
            background-color: #bc1934a9;
        }
        .quote{
            width: 120px;
            height: 120px;
            background: #bc1934a9;
            border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
            display: flex;
            // justify-content: center;
            align-items: center;
            padding-left: 20px;
            color: #fff;
            font-size: 3em;
        }
        .texte-test{
            margin-top: 30px;
            padding: 0 30px;
            p{
                text-align: center;
                color: #777;
            }
        }
        .user-test{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // margin-top: 40px;
            gap: 2px;
            margin-top: 30px;
        }
        .user-image{
            width: 80px;
            height: 80px;
            // background-color: orange;
            border-radius: 50%;
            border: solid 2px $main-color;
            margin-bottom: 10px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .user-test-name{
            color: $main-color;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
        }
        .user-test-post{
            padding: 0 !important;
            margin: 0;
            color: #aaa;
            font-style: italic;
        }
    }
}
.splide{
    padding: 0 !important;
    margin: 0 0 40px 0;
}
.splide__pagination--ltr{
    display: none;
}