.body.details-body {
    .img {
        width: 100%;
        height: 275px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .desc {
        p {
            font-size: 14px;
        }
    }

    .button-w {
        background: #00E676;

        a {
            text-decoration: none;
        }
    }

    .textes {
        padding: 10px;
        background: #fff;

        .prix,
        .nom {
            color: #212529;
            font-weight: bold;
            margin-bottom: 0 !important;
        }

        .prix {
            font-size: 20px;
            display: grid;
            grid-template-columns: 1fr 30px;
            padding-right: 10px;
        }

        .nom {
            font-size: 16px;
        }

        .date {
            font-size: 15px;
            color: #6c757d;
            margin-top: 10px;
        }

        .texte {
            font-size: 16px;
            color: #212529;
        }

        .description {

            // color: red;
            .btn-desc {
                margin-top: 10px;
                font-size: 13px;
            }
        }
    }
}


.page.details-article {
    padding-bottom: 100px;

    .proposition {
        position: fixed;
        bottom: 0;
        left: 0;
    }

}