.en-tete {
    width: 100%;
    max-width: $max-width;
    height: 61px;
    background: #fff;
    box-shadow: $shadow-nav;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    h1 {
        padding: 0 !important;
        margin: 0 !important;

        &.main {
            color: $main-color;
        }

        &.black {
            color: #000;
        }
        &.blue{
            color: royalblue;
        }

    }
    .contente {
        width: 100%;
        max-width: $max-screen;
        height: 100%;
        margin: auto;
        padding: 10px;
        padding-right: 20px;

        a {
            color: #000;
            transition: .5s;

            svg {
                width: 23px;
            }

            &:hover {
                color: $main-color;
            }
        }

        &.addDemande,
        &.business {
            display: grid;
            grid-template-columns: 20px 1fr 20px;
            align-items: center;
            gap: 10px;

            h1 {
                color: #000;
                font: {
                    weight: bold;
                    size: 1.3em;
                }

                ;
            }
        }
        &.cont-compte{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .titre{
                font-weight: bold;
            }
            .option-user{
                position: relative;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: solid 2px red;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: contain;
                }

                .link-option-user{
                    display: none;
                    position: absolute;
                    width: 130px;
                    margin: 0;
                    padding: 3px 5px 3px 8px;
                    top: 115%;
                    left: 0;
                    transform: translateX(-64%);
                    background-color: #fff;
                    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.14);
                    &.active{
                        display: block;
                    }
                    // border-radius: 4px;
                    li{
                        font-size: 12px;
                        list-style-type: none;
                        padding: 3px 2px;
                        color: #555;
                        // background-color: orange;
                        margin: 3px 0;
                        i{
                            margin-right: 3px;
                        }
                        a{
                            text-decoration: none;
                            color: red;
                        }
                    }
                }
            }
        }
        &.notif {
            display: grid;
            grid-template-columns: 50px 1rf;
            align-items: center;
            justify-content: start;
            gap: 5px;

            h1 {
                font-size: 1.4em;
                font-weight: bold;
                grid-column: 2/ span 3;
            }

            .icones {
                justify-self: flex-end;
            }
        }

        &.home,
        &.boutique {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                // color: $main-color;
                font-size: 1.4em;
                font-weight: bold;
            }

            .icones {
                min-width: 66px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                .addCompte {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }

                    &.user {
                        svg{
                            width: 29px;
                        }
                        &::after {
                            content: "!";
                            position: absolute;
                            padding: 2px 8px;
                            border-radius: 50%;
                            transform: translate(50%, -10%);
                            font-size: 10px;
                            font-weight: bold;
                            color: #fff;
                            background-color: red;
                            top: 0;
                            right: 5px;
                        }
                    }
                }
            }
        }
    }
}