.cont-img-txt-page {
    width: 100%;
    min-height: 100px;
    // background-color: orange;

    img {
        width: 100%;
    }
}
.titre-question{
    color: #555;
    margin: 40px 0 20px 0;
}
.liste-question{
    li{
        margin-bottom: 10px;
        a{
            color: #555;
        }
    }
}
.question{
    margin: 20px 0;
    padding-top: 80px;
}
.txt-page-txt-page {
    line-height: 27px;
    margin-top: 10px;
    color: #555;
}