.cont-img-txt-page {
    width: 100%;
    min-height: 100px;
    // background-color: orange;

    img {
        width: 100%;
    }
}

.txt-page-txt-page {
    line-height: 27px;
    margin-top: 10px;
    color: #555;
}