@import '../components/import';

.page.page-activite {
    .oglt {
        padding: 10px;
    }

    .card {
        margin-bottom: 20px;
    }

    .accordion-item {

        button {
            padding: 7px 3px;
            margin: 0;
            width: 100%;
            border-bottom: solid 1px #aaa;
            color: #777;
            background: #f1f1f1;
            font-size: 12px;
        }

        .contenu-ac {
            padding-top: 10px;

            p {
                color: #777;
                font-size: 14px;
            }
        }

    }
}