@import '../components/import';

$height-button : 60px;

.page.page-addDemande {
    position: relative;
    padding-bottom: 75px;
    .send {
        background: $main-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .modale{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.659);
        z-index: -10000;
        opacity: 0;
        transition: 0.8s;
        &.active{
            opacity: 1;
            z-index: 10000;
        }
        .closeModal{
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #fff;
            font-size: 1.4em;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.313);
        }
        .contentModale{
            width: 90%;
            min-height: 200px;
            background: #fff;
            border-radius: 10px;
            padding: 30px 10px;
            h2{
                color: $main-color;
                margin-bottom: 30px;
                font-weight: bold;
                font-size: 2em;
            }
            p{
                display: flex;
                justify-content: space-between;
                color: #777;
                margin-bottom: 10px;
                .titre-list{
                    color: #888;
                    font-weight: bold;
                }
            }
            .send{
                margin: auto;
                display: block;
                width: 100%;
                max-width: 400px;
                padding: 14px;
                margin-top: 40px;
            }
            .content-img-resume{
                display: flex;
                flex-flow: row wrap;
                gap: 10px;
                margin-top: 30px;
                .img-gl{
                    width: 80px;
                    height: 70px;
                    background-color: rgba(211, 209, 209, 0.212);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .btn-desc{
            color: #888;
            font-size: 16px;
            text-align: left;
            display: flex;
            padding: 0;
            margin: 0;
            &.true{
                margin: 0;
                font-size: 16px;
            }
        }
    }
    .body {
        .true {
            margin: 20px 10px;
            font-size: 14px;
            text-align: center;
        }

        .formulaire {
            width: 100%;
            margin-top: 15px;

            .contener-submit {
                position: fixed;
                width: 100%;
                height: 66px;
                bottom: 0;
                left: 0;
                display: grid;
                grid-template-columns: 100px 1fr;
                box-shadow: 0 -1px 2px rgb(205, 204, 204);
                gap: 10px;
                padding: 8px 15px;
                background: #fff;
                button {
                    border: none;
                    outline: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .set {
                    color: #888;
                    background: #f2f2f2;
                    cursor: pointer;
                    height: 30px;
                }

                .quantiter {
                    display: grid;
                    grid-template-columns: 37px 26px 37px;
                    align-content: center;

                    input {
                        text-align: center;
                        border: none;
                        outline: none;
                        background: none;
                    }
                }
            }

            .contener-inputs {
                width: 100%;
                margin-top: 20px;
                display: grid;
                grid-template-rows: repeat(3, 80px) 150px;
                gap: 10px;
                
                input,
                textarea {
                    border: none;
                    outline: none;
                    padding: 8px;
                    border-radius: 4px;
                    resize: none;
                    color: #888;
                    font-size: 14px;
                    border: solid 2px $main-color-alpha;
                }

                select {
                    outline: none;
                    border: none;
                    color: #888;
                    font-size: 14px;
                    border: solid 2px $main-color-alpha;
                }

                p {
                    font-size: 14px;
                    color: #aaa;

                    span {
                        color: red;
                    }
                }

                &>* {
                    display: grid;
                    grid-template-rows: 25px 1fr;
                    padding: 0 8px;
                }
            }

            .contener-addImage {
                width: 100%;
                padding: 0 8px;

                .image {
                    border: dashed 3px $main-color-alpha;
                    padding: 10px;
                    height: 250px;

                    .contener-images {
                        width: 100%;
                        height: 100%;
                        background: $main-color-alpha;
                        display: grid;

                        &.img-2 {
                            grid-template-columns: 1fr 1fr;
                        }

                        &.img-3 {
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;

                            div.img3 {
                                grid-column: 1 / span 2;
                            }
                        }

                        &.img-4 {
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                        }

                        &.img-0 {
                            // width: 100%;
                            // height: 100%;
                            background: none;

                            p {
                                margin-top: 80px;
                                text-align: center;
                                font-weight: bold;
                                color: #ddd;
                                font-size: 1.9em;
                            }
                        }

                        // grid-template-columns: 1fr 1fr;
                        // grid-template-rows: 1fr 1fr;
                        gap: 5px;

                        &>* {
                            img {
                                width: 100%;
                                height: 100%;
                                max-height: 230px;
                                object-fit: cover;
                            }
                        }
                    }
                }

                .button-contener {
                    padding: 15px;
                    background: #fff;
                    border: dashed 3px $main-color-alpha;
                    
                    .button {
                        position: relative;
                        width: 100%;
                        height: $height-button;
                        cursor: pointer;
                        border-radius: 6px;
                        overflow: hidden;

                        #image {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            z-index: 10;
                        }

                        .display {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            padding: 0 10px;
                            display: grid;
                            grid-template-columns: $height-button 1fr;
                            top: 0;
                            left: 0;
                            background: $m-a-c-2;
                            color: #fff;
                            font-weight: bold;

                            span {
                                position: relative;

                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 2px;
                                    height: 50%;
                                    background: #fff;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }

                            &>* {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}