@import '../components/params';

.page.page-business {
    .body {
        background: #fff;
        padding: 0 8px;
        min-height: 100vh;

        h1 {
            font-weight: bold;
            font-size: 1.7em;
            text-align: center;
            padding-top: 70px;
            margin-bottom: 15px;
            color: #444;
        }

        p {
            text-align: center;
            width: 96%;
            font-size: 16px;
            color: #333;
        }

        img {
            width: 100%;
        }

        button {
            padding: 12px 22px;
            border: none;
            outline: none;
            border-radius: 4px;
            background: $main-color;
            color: #fff;
            display: block;
            margin: 0 auto 20px auto;
            font-weight: bold;
        }

        a {
            text-decoration: none;

            p {
                color: royalblue;
            }
        }
    }
}